

<h1>Your Blog Post!</h1>

<h3><%=@post.name%></h3>
<p><%=@post.content%></p>

<form action="/posts/<%= @post.id %>/delete" method="POST">
 <input type="submit" name="delete" value="delete">
 <input id="hidden" type="hidden" name="_method" value="delete">
</form>
